body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 1rem;
}

select, button {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

select {
  background: rgba(255, 255, 255, 0.1);
  color: rgb(47, 42, 42);
}

button {
  background: linear-gradient(135deg, #302d2e, #5f585b);
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

.ball {
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, #dfe2e7, #484545);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, 0); /* Align horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-panel {
  margin-top: 20px;
  text-align: left;
}
